@media only screen and (max-width: 1180px) {
	.heqder-block {
		margin-bottom:0px;
	}
	.block-users {
		width:80%;
	}	
	.users-text {
		font-size:16px;
	}
	.color-line {
		display:none;
	}
	.navbar > .container-fluid .navbar-brand {
		margin-left:10px;
	}

	
}

@media only screen and (max-width: 1024px) {
	.header {
		height: auto;
	}
	.header-block .title h1 {
		text-align:center;
	}
	.header-desc {
		width:80%;
		margin:auto;
	}
	.header-desc .slider, .header-desc .slider ul {
		width:100%;
		margin:0px !important;
	}
	.slider ul li {
		text-align:left;
		width:100%;
	}
	.slider ul li.slider1 {
		display:none;
	}
	
	.navbar-nav {
		margin:80px auto 0 auto;
		float:none;
		display:table;
	}
	
	
	.left-col, .right-col {
		width:100%;
		text-align: center;
	}
	
	.right-col {
		margin-top:0px;
	}
	.right-col .video-bg {
		float:none;
		margin:auto;
		max-width:100%;
	}
	.right-col iframe {
		max-width:100%;
	}
	.button-social {
		width:80%;
		margin:15px auto;
	}
	.pre-reg2 {
		width:80%;
		margin:auto;
	}
	.pre-reg2 > input#mail_top, .pre-reg2 .input-footer {
		width:100%;
	}
	.in50per {
		width:100%;
		margin-bottom:10px;
	}
	.pre-reg2 .button {
		float:none;
	}
	.pb-name {
		font-size:26px;
	}
	.pb-price, .pb-days {
		font-size: 16px;
	}
	.heqder-block {
		font-size:30px;
	}
	.slider.slide {
		width:540px;
	}
	.block-users {
		width:70%;
	}
	.users-text {
		font-size:16px;
	}
	.color-line {
		display:none;
	}
	.inner .header {
		height:150px;
	}


}

/*///*/	
@media only screen and (max-width: 800px) {

.am {
	display:none;
}	
	.navbar-brand {
	float: left;
	height: 50px;
	padding: 15px 15px 0 0;
	font-size: 18px;
	line-height: 20px;
}
	.navbar-nav {
		margin:0;
		float:none;
		display:block;
	}
	.navbar-default {
		border-bottom: 1px solid #a4b5fd;
}
	#bs-example-navbar-collapse-1 {
	border-bottom:#fff;
	width: calc(100% + 15px);
}
	.nav > li {
	background:#a4b5fd;
	}
	.nav > li:hover {
		background:#aebdfd;
	}
	li.lk a.float {
		margin:0px;
		border-radius:0px;
		color: rgba(255, 255, 255, 0.75);
	}
	li.lk a.float:hover {
		color: rgba(255, 255, 255, 0.75) !important;
		margin:0px;
		background:#aebdfd;
		  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  text-shadow: 0px 0px 20px rgba(255,255,255,5.8);
		
	}
	.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover {
			font-size:16px;
	}
	li.lk  .button {
		text-transform:none;
		float:none;
		border:none;
		margin:0px;
		letter-spacing: inherit;
	}
	li.menu-item.eng  {
		display:none;
		/*top:22px;
		left:220px;*/
	}
	

/*////*/	

	.inner .header {
		padding-bottom:0px;
		height:auto;
	}

	.what-users-say {
    display: none;
}


	.functions-image-wrapper {
		margin-top:0px;
	}
	.visible {
		position:relative !important;
		top:1px;
		left:1px;
		width: 100%;
	}	

.float:hover, .float:focus, .float:active,
li.lk a.float:hover, li.lk a.float:focus, li.lk a.float:active {
  -webkit-transform: none;
  transform: none;
  text-shadow: none;	
}
  
  .hid {
	  display:none;
	  }
#funks {
	margin-top:30px;
}

}

@media only screen and (max-width: 750px) {

.header-desc {
	display:none;

}
	.in50per {
		width:100%;
		margin-bottom:10px;
	}
	.pre-reg2 > input#mail_top, .pre-reg2 .input-footer {
		width:100%;
	}
	

	
	
	#bl1 .in-b {
		width:100% !important;
	}
	#bl2 .in-b {
		width:45% !important;
		/*margin-bottom:0px !important;*/
	}
	
	.pb-name {
		font-size:20px;
	}
	.pb-price, .pb-days {
		font-size: 14px;
	}
	.what-users-say {
		display:none;
	}
	
	
	.in-b.item-block-one {
		width:100%;
		margin:20px 0 0 0;
		padding:0px 20px;
	}
	.color-line {
		display:block;
		margin-top:30px;
	}
	

	
	.color-line img {
		width:100%;
		height:2px;
	}
	


}
	


@media only screen and (max-width: 660px) {
	.header {
		padding-bottom:0px;
		/*max-height:950px;*/
	}

	.pre-reg2 input#mail_top ~ .chec {
	margin-top:30px;
	float:none;
	width:100%;
	}

	input#mail_top ~ .button {
		float:none;
		margin:20px 0 30px 0;
	}
	.right-col {
		margin-top:0;
		height:auto;
	}
	
	.button-social {
		width:100%;
	}
	.button-social .button, .button-social .social {
		float:none;
		margin: 15px auto;
		/*padding: 5% 13%;*/
	}	
	.block-one{
		padding-bottom:0px;
	}
	.heqder-block {
		text-align:center;
		margin-bottom:0px;
	}


	.functions-buttons {
		text-align:center;
	}
	.functions-buttons .button {
			margin:30px 0 0 0;
			float:none;
	}
	.price-block-item {
		width: 47%;
		margin-top:15px;
	}
	.pb-name {
		font-size:32px;
	}
	.pb-price, .pb-days {
		font-size: 18px;
	}
	#bl1 .in-b, #bl2 .in-b {
		width:99% !important;
		/*margin-bottom:0px !important;*/
	}
	.in-b {
		width:45% !important;
		/*margin-bottom:0px !important;*/
	}
	
	#bl5 {
		height:64px;	
	}
	#bl5 .wrapper {
		padding-bottom:0px;
	}
	.user-agr, .user-agr a, .copy {
		float:none;
		text-align:center;
		line-height:27px;
	}
	.scrollup {
		bottom: 30px;
		right: 30px;
	}
	.navbar-brand img {
		width:150px;
	}
	.eng  {
		top:16px;
		left:165px;
	}
		.color-line {
		display:block;
	}
		.visible {
		position:relative !important;
		top:1px;
		left:1px;
		width: 100%;
	}


}
@media only screen and (max-width: 540px) {
	.header-desc {
		width:100%;
	}
.video-bg {
		max-width:320px !important;
	}
	.video-bg iframe {
		width:235px;
		height:170px;
		padding:15px 0 0 0;
	}	
		.right-col {
		margin-top:0;
		height:200px;
	}
}

@media only screen and (max-width: 480px) {

	.left-col {
		margin-top:-20px;
	}
	.right-col {
		margin-top:0;
		height:200px;
	}

	.video-bg {
		max-width:270px !important;
	}
	.video-bg iframe {
		width:196px;
		height:150px;
		padding:11px 0;
	}
	.pb-name {
		font-size:20px;
	}
	.pb-price, .pb-days {
		font-size: 14px;
	}
		.color-line {
		display:block;
	}
	

}